<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <!-- Entity Framework -->
      <register type="System.Data.Entity.DbContext, EntityFramework" mapTo="Tasker.Domain.Repositories.TaskerDbContext, Tasker.Domain.Repositories" />
      <register type="Tasker.Domain.Repositories.IRepositoryContext,Tasker.Domain" mapTo="Tasker.Domain.Repositories.EntityFramework.EntityFrameworkRepositoryContext,Tasker.Domain.Repositories">
        <constructor>
          <param name="context">
            <dependency type="System.Data.Entity.DbContext, EntityFramework" />
          </param>
        </constructor>
        <lifetime type="Tasker.Infrastructure.Unity.UnityLifetimeManager, Tasker.Infrastructure" />
      </register>
      
      <!-- Service -->
      <register type="Tasker.Domain.Repositories.IUserRepository,Tasker.Domain" mapTo="Tasker.Domain.Repositories.Repositories.UserRepository,Tasker.Domain.Repositories"/>
      <register type="Tasker.ServiceContracts.IUserService,Tasker.ServiceContracts" mapTo="Tasker.Domain.Services.UserServiceImpl,Tasker.Domain"/>
    </container>
  </unity>
  
</configuration>