<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>

  <unity>
    <typeAliases>
      <typeAlias alias="IUserService" type="Tasker.ServiceContracts.IUserService,Tasker.ServiceContracts" />
    </typeAliases>
    <containers>
      <container>
        <types>
          <type type="IUserService" mapTo="Tasker.Domain.Services.User.UserServiceImpl,Tasker.Domain" />
        </types>
      </container>
    </containers>
  </unity>
  
</configuration>